@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
	--primary500: #d1ac00;
	--primary400: #dabd33;
	--primary300: #e3cd66;
	--primary200: #edde99;
	--primary100: #f6eecc;

	--neutral500: #2c3131;
	--neutral400: #626262;
	--neutral300: #a9a9a9;
	--neutral200: #cacaca;
	--neutral100: #e9e9e9;

	--success: #259f46;
	--warning: #e4c65b;
	--danger: #e25c5c;
	--information: #2685ca;
	--white: #fff;
}

body {
	background-color: #FAFAFA;
	color: var(--neutral500);
	font-family: 'SF Pro Display',
		sans-serif !important;
}

.leaflet-popup-content {
	margin: 0 !important;
	min-width: 282px;
}

.leaflet-popup-content-wrapper {
	padding: 0 !important;
}

.modal.fade {
	background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
	opacity: 0;
}

.dropdown-item:hover {
	background-color: transparent !important;
}

p {
	margin: 0;
	letter-spacing: -0.01em !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0 !important;
}

.text-truncate-container p {
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}


button.close {
	opacity: 1 !important;
	font-size: 0 !important;
}

/* style range */
input[type=range] {
	width: 100%;
	max-width: 100%;
	margin-left: 0;
}

/* style datalist */
input[type=range]+datalist {
	display: block;
	margin-top: -4px;
}



input[type=range]+datalist option {
	display: inline-block;
	width: calc((100% - 20px) / (var(--list-length) - 1));
	text-align: center;
}

input[type=range]+datalist option:first-child {
	width: calc((100% - 20px) / ((var(--list-length) - 1) * 2) + 20px);
	text-align: left;
	margin-left: -5px;
}

input[type=range]+datalist option:last-child {
	width: calc((100% - 20px) / ((var(--list-length) - 1) * 2) + 20px);
	text-align: right;
}

.btn {
	font-weight: 600 !important;
	border-radius: 0.5rem !important;
	/* padding-top: 14px;
	padding-bottom: 14px; */
}

.page-link {
	border-radius: 0.5rem !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	padding-left: 13px !important;
	padding-right: 13px !important;
	margin-left: 4px !important;
	margin-right: 4px !important;
	border-color: #fff !important;
	background-color: var(--neutral100);
	color: var(--neutral500);
}

.page-link:hover {
	color: var(--neutral500);
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.page-item.disabled .page-link {
	color: var(--neutral300) !important;
	pointer-events: none;
	cursor: auto;
	background-color: var(--neutral100);
	border-color: #fff !important;

}

.page-item.active .page-link {
	color: #fff;
	background-color: var(--primary500) !important;
	border-color: #fff !important;
}

.table th,
.table td {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	padding-left: 1.5rem !important;
	padding-right: 1rem !important;
}

.page-item.active .page-link {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.w-90 {
	width: 90% !important;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-36 {
	font-size: 36px;
}

.font-size-40 {
	font-size: 40px;
}

.font-size-12 {
	font-size: 12px;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-semi-bold {
	font-weight: 600;
}

.rounded-l {
	border-radius: 0.5rem;
}

.rounded-llg {
	border-radius: 0.75rem;
}

.rounded-lllg {
	border-radius: 0.875rem;
}

.rounded-xl {
	border-radius: 1rem;
}

.rounded-xxl {
	border-radius: 1.25rem;
}

.border-4 {
	border-width: 20px !important;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1 !important;
}

.line {
	height: 1.5px;
}

.dot {
	height: 4px;
	width: 4px;
	border-radius: 100%;
}

/* Navbar */
.navbar-light .nav-item .nav-link {
	padding-left: 16px;
	padding-right: 16px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.show {
	color: var(--neutral500);
}

/* Notification */
.notification-ui a:after {
	display: none;
}

.notification-ui_icon {
	position: relative;
}

.notification-ui_icon .unread-notification {
	display: inline-block;
	height: 7px;
	width: 7px;
	border-radius: 7px;
	position: absolute;
	top: 7px;
	left: 28px;
}

@media (min-width: 900px) {
	.notification-ui_icon .unread-notification {
		left: 28px;
	}
}

.notification-ui_dd {
	padding: 0;
	border-radius: 8px;
	box-shadow: 0px 12px 30px rgba(17, 17, 17, 0.08);
	border: 0;
	max-width: 400px;
	margin-top: 8px;
}

@media (min-width: 900px) {
	.notification-ui_dd {
		min-width: 400px;
		position: absolute;
	}
}



.notification-ui_dd .notification-ui_dd-content {
	max-height: 550px;
	overflow: auto;
}

.notification-list--unread {
	background: rgba(38, 133, 202, 0.08) !important;

}


/* Form */

.radio-container {
	position: relative;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
}

[type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	border: 1px solid var(--neutral100);
	border-radius: 100%;
	background: #fff;
}

[type="radio"]:checked+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	border: 1px solid var(--primary500);
	border-radius: 100%;
	background: var(--primary500);
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: white;
	position: absolute;
	top: 7px;
	left: 7px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

[type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.form-group-default {
	position: relative;
	border: 1.5px solid var(--neutral100);
	border-radius: 8px;
	padding-top: 12px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 12px;
	min-height: 68px;
	overflow: hidden;
	width: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.form-group-default.focused {
	background-color: var(--primary500);
}


.form-group-default .form-control {
	border: 0;
	padding: 0;
	background: 0 0;
	border-radius: 0;
	resize: vertical;
	height: 100%;
	position: absolute;
	margin-bottom: 12px;
}


/* .form-group-default select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: inherit !important;
} */

.form-group-default .form-control:focus {
	outline: 0 !important;
	box-shadow: none;
}

.form-group-default .control-label {
	margin: 0;
	display: block;
	/* position: absolute; */
	line-height: 20px;
	margin-bottom: 2px;
	margin-top: 12px;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	color: var(--neutral300);
}

.form-group .control-label {
	font-size: 12px;
	letter-spacing: -0.01em;
	font-weight: 400;
}

.form-group-default .input-group {
	opacity: 0;
}

.form-group-default:focus-within {
	border: 1.5px solid var(--neutral500) !important;
}

.form-group-default:focus-within>label {
	position: relative !important;
	margin-top: 0 !important;
	color: var(--neutral500) !important;
}

.form-group-default:focus-within>input {
	margin-bottom: 0 !important;
	height: auto !important;
	position: relative !important;
}

.form-group-default:focus-within>.input-group input {
	margin-bottom: 0 !important;
	height: auto !important;
	position: relative !important;
}

.form-group-default:focus-within>.input-group {
	opacity: 1;
}

/* .input:placeholder-shown~label {
	background-color: #000000 !important;
	position: absolute !important;
}

.input:not(:placeholder-shown)~label {
	background-color: #259f46 !important;
	position: relative !important;

} */

/* .form-group-default:focus-within {
	padding-top: 14px !important;
	padding-bottom: 14px !important;
} */



.form-group-default .custom-select.is-valid,
.form-group-default .form-control.is-valid,
.was-validated .form-group-default .custom-select:valid,
.was-validated .form-group-default .form-control:valid {
	box-shadow: none;

}


input.otp {
	height: 64px;
	width: 64px;
}

.switch-check {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 30px;
}

.switch-check input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider-check {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white);
	border: 1.5px solid var(--neutral100);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider-check:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 5px;
	bottom: 4px;
	background-color: var(--neutral100);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider-check {
	background-color: var(--primary100);
	border: 1.5px solid var(--primary500) !important;
}

input:checked+.slider-check:before {
	background-color: var(--primary500);
}



input:checked+.slider-check:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
}

.slider-check.round {
	border-radius: 20px;
}

.slider-check.round:before {
	border-radius: 50%;
}

.bg-gradient-hero {
	background: linear-gradient(272.84deg, #302C08 -3.06%, #7D6B3C 104.85%);
}

.name-merchant {
	box-shadow: 0px 5px 20px rgba(17, 17, 17, 0.04);
	left: 12px;
	bottom: -18px
}

.card-member {
	min-height: 476px;
}


/* Profile Member */
a.card-profile:hover {
	border: 1.5px solid var(--primary500) !important;
	color: var(--primary500) !important;
}

a.card-profile:hover>div {
	border: 1.5px solid var(--primary500) !important;
	box-shadow: 4px 16px 32px rgba(17, 17, 17, 0.12);
	border-radius: 12px;
}

a.card-profile:hover .icon-wrap {
	background: var(--primary100) !important;
}

a.card-profile .arrow-wrap {
	opacity: 0;
}

a.card-profile:hover .arrow-wrap {
	opacity: 1 !important;
}

.button-image {
	bottom: 1.5rem;
	right: 1.5rem;
}


.promo-card.active {
	box-shadow: 0px 12px 30px rgba(17, 17, 17, 0.08);
}

.flexbox-wrapper-map {
	display: flex;
	height: 100vh;
	overflow: auto;
}


.sticky-map {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 99;
	align-self: flex-start;
}